<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
</head>
<body>
    {% include 'navbar.twig' %}
    <div class="container">

        <!--
        Student stuff:
        * subscriptions
        -->
        <h1>Spillelister du abonnerer p책:</h1>

        {% if mySubscriptions|length == 0 %}
        <i>Du abonnerer ikke p책 noen spillelister</i>
        {% endif %}

        <div class="row">

            {% for playlist in mySubscriptions %}

            <div class="col-sm-4">
                <div class="card">
                    <img class="card-img-top" src="src/getPlaylistThumbnail.php?pid={{playlist.pid}}" alt="Card image" style="width:100%">
                    <div class="card-body">
                        <h4 class="card-title">{{playlist.title}}</h4>
                        <p class="card-text">
                            <b>Beskrivelse: </b>{{playlist.description}}
                            <br>
                            <b>Antall videoer: </b>{{playlist.videos|length}}
                        </p>
                        <form action="src/showPlaylistHandler.php" method="post">
                            <input type="hidden" name="pid" value="{{playlist.pid}}">
                            <input type="submit" name="submit" value="G책 til spilleliste" class="btn btn-primary">
                        </form>
                    </div>
                </div>    
            </div>

            {% endfor %}

        </div>




    <!--
    Lecturer stuff:
    * own playlists
    * own videos
    -->
    {% if user.privilege_level > 0 %}

    <br><br><br>
    <h1>Videoer du har lastet opp:</h1>

    {% if myVideos|length == 0 %}
    <i>Du har ikke lastet opp noen videoer</i>
    {% endif %}

    <div class="row">
        {% for video in myVideos %}
        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="./src/getVideoThumbnail.php?vid={{video.video.vid}}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">{{video.video.title}}</h4>
                    <p class="card-text"><b>Tid lastet opp:</b> {{video.video.timestamp}}<br /><b>Emnekode:</b> {{video.video.course_code}}<br /><b>Emne:</b> {{video.video.topic}}</p>
                    <a href="./videos/{{video.video.vid}}" class="btn btn-primary">Se video</a>
                </div>
            </div>    
        </div>
        {% endfor %}
    </div>



    <br><br><br>
    <h1>Spillelister du administerer:</h1>

    {% if myPlaylists|length == 0 %}
    <i>Du administerer ingen spillelister</i>
    {% endif %}

    <div class="row">

        {% for playlist in myPlaylists %}

        <div class="col-sm-4">
            <div class="card">
                <img class="card-img-top" src="src/getPlaylistThumbnail.php?pid={{playlist.pid}}" alt="Card image" style="width:100%">
                <div class="card-body">
                    <h4 class="card-title">{{playlist.title}}</h4>
                    <p class="card-text">
                        <b>Beskrivelse: </b>{{playlist.description}}
                        <br>
                        <b>Antall videoer: </b>{{playlist.videos|length}}
                    </p>
                    <form action="src/showPlaylistHandler.php" method="post">
                        <input type="hidden" name="pid" value="{{playlist.pid}}">
                        <input type="submit" name="submit" value="G책 til spilleliste" class="btn btn-primary">
                    </form>
                </div>
            </div>    
        </div>

        {% endfor %}

    </div>

    {% endif %}





</div>
</body>
</html>
