<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        {% include 'navbar.twig' %}
        <div class="container">

            {% if message != "" %}
            <p style="border:1px solid black">{{message}}</p>
            {% endif %}


            <h1>Spilleliste: {{playlist.title}}</h1>

            <!-- subscribe button -->
            {% if subscribed == 'false' %}
            <form action="./src/subscribeToHandler.php" method="post">
                <input type="hidden" name="uid" value="{{user.uid}}">
                <input type="hidden" name="pid" value="{{playlist.pid}}">
                <input type="submit" name="submit" value="Abonner på denne spillelisten">
            </form>

            {% else %}

            <i>Du abonnerer på denne spillelisten</i>

            {% endif %}


            <!-- edit button -->
            {% if isMaintainer %}
            <form action="./src/editPlaylistHandler.php" method="post">
                <input type="hidden" name="pid" value="{{playlist.pid}}">
                <input type="submit" name="submit" value="Administrer denne spillelisten">
            </form>
            {% endif %}




            <br><br><br>
            <h3>Administratorer: </h3>
            <ul>
                {% for maintainer in playlist.maintainers %}
                <li>{{maintainer.firstname}} {{maintainer.lastname}}</li>
                {% endfor %}
            </ul>


            <br><br><br>
            <h3>Videoer:</h3>
            <div class="row">
                {% for video in playlist.videos %}
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="./src/getVideoThumbnail.php?vid={{video.vid}}" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">{{video.title}}</h4>
                            <p class="card-text"><b>Lastet opp av:</b> {{video.lecturer.firstname}} {{video.lecturer.lastname}}<br /><b>Tid lastet opp:</b> {{video.timestamp}}<br /><b>Emnekode:</b> {{video.course_code}}<br /><b>Emne:</b> {{video.topic}}</p>
                            <a href="./videos/{{video.vid}}" class="btn btn-primary">Se video</a>
                        </div>
                    </div>    
                </div>
                {% endfor %}
            </div>
        </div>
    </body>
</html>
