<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title></title>
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        {% if message != "" %}
        <div class="alert alert-{{messageStatus}}">{{message}}</div>
        {% endif %}
        <div class="container">
            {% if message != "" %}
            <div class="alert alert-{{messageStatus}}">{{message}}</div>
            {% endif %}
            {% if message != "" %}
            <div class="alert alert-{{messageStatus}}">{{message}}</div>
            {% endif %}
            <a href="./login">Logg inn her</a>
            <h1>Registrer deg her</h1>
            <form action="src/registerFormHandler.php" method="post" style="display:grid;grid-template-columns:auto auto;grid-template-rows:auto auto auto auto auto auto">
                <!-- Secure that it is indeed an email by using the "email" type  -->
                <label for="username">brukernavn (email): </label><input name="username" type="email"/>
                <label for="firstname">fornavn: </label><input name="firstname" type="text"/>
                <label for="lastname">etternavn: </label><input name="lastname" type="text"/>
                <label for="password">passord: </label><input name="password" type="password"/>
                <label for="is_student">Jeg er student: </label><input value="student" name="privilege" type="radio" checked="checked"/>
                <label for="wants_lecturer">Jeg er foreleser: </label><input value="lecturer" name="privilege" type="radio"/>
                <label for="wants_admin">Jeg er admin: </label><input value="admin" name="privilege" type="radio"/>
                <input type="submit" value="Registrer!">
            </form>
        </div>
    </body>
</html>
