<!DOCTYPE html>
<html>
    <head>
        <title>Search result</title>
        <!-- Latest compiled and minified Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    </head>
    <body>
        {% include 'navbar.twig' %}
        <div class="container">
            {% if message != "" %}
            <div class="alert alert-{{messageStatus}}">{{message}}</div>
        {% endif %}
            <h1 style='text-align: center;'>Søkeresultater</h1>

            <h1>Søkeresultat for "{{searchText}}"</h1>
            <br>
            <br>
            <br>

            <!-- video results -->
            <h2>Videoresultater</h2>
            <br>
            <div class="row">
                {% for video in video_result %}
                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="../src/getVideoThumbnail.php?vid={{video.video.vid}}" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">{{video.video.title}}</h4>
                            <p class="card-text"><b>Lastet opp av:</b> {{video.lecturer.firstname}} {{video.lecturer.lastname}}<br /><b>Tid lastet opp:</b> {{video.video.timestamp}}<br /><b>Emnekode:</b> {{video.video.course_code}}<br /><b>Emne:</b> {{video.video.topic}}</p>
                            <a href="../videos/{{video.video.vid}}" class="btn btn-primary">Se video</a>
                        </div>
                    </div>    
                </div>
                {% endfor %}
            </div>

            <br>
            <br>
            <br>

            <!-- playlist results -->
            <h2>Spillelisteresultater</h2>
            <br>
            <div class="row">

                {% for playlist in playlist_result %}

                <div class="col-sm-4">
                    <div class="card">
                        <img class="card-img-top" src="../src/getPlaylistThumbnail.php?pid={{playlist.pid}}" alt="Card image" style="width:100%">
                        <div class="card-body">
                            <h4 class="card-title">{{playlist.title}}</h4>
                            <p class="card-text">
                                <b>Beskrivelse: </b>{{playlist.description}}
                                <br>
                                <b>Antall videoer: </b>{{playlist.videos|length}}
                            </p>
                            <form action="../src/showPlaylistHandler.php" method="post">
                                <input type="hidden" name="pid" value="{{playlist.pid}}">
                                <input type="submit" name="submit" value="Gå til spilleliste" class="btn btn-primary">
                            </form>
                        </div>
                    </div>    
                </div>

                {% endfor %}

            </div>
        </div>
    </body>
</html>
